
        <h1>Add New Inventory</h1>
        <% if (messages && messages.error) { %>
            <div class="flash-message"><%= messages.error %></div>
        <% } %>
        <% if (messages && messages.success) { %>
            <div class="flash-message"><%= messages.success %></div>
        <% } %>
        <% if (errors && errors.array) { %>
            <ul class="notice">
                <% errors.array().forEach(error => { %>
                    <li><%= error.msg %></li>
                <% }) %>
            </ul>
        <% } %>
        <div class="form-container">
            <form action="/inv/add-inventory" method="post">
                <%- viewAddInv %>
                  
            </form>
        </div>
